/* ==UserStyle==
@name           DarkYM
@namespace      github.com/openstyles/stylus
@version        1.1.8
@description    dark theme for rateyourmusic.com based on RateYourMusic Tomorrow 2
@author         mocha
==/UserStyle== */
@-moz-document domain("rateyourmusic.com") {
    :root {
        --background: #222427;
        --foreground: #27292d;
        --border: #373b41;
        --link: #81a2be;
        --hover: #c66;
        --text: #c5c8c6;
        --dark-text: #969896;
        --white: #fff;
        --button: #4271ae;
        --button-hover: #3e999f;
        --button-text: #edeeed;
        --online: #9c9;
    }

    body {
        background: var(--background);
        color: var(--text);
    }


    /***********************/
    /*                     */
    /*        Header       */
    /*                     */
    /***********************/
    #navtop {
        border-bottom: none;
    }
    
    .mobile_header_btn {
        background: var(--foreground);
        border-radius: 0;
        border: 1px solid var(--border);
        color: var(--text);
    }
    
    #navtop li, #navtop li.sub {
        background: var(--background);
        border: none;
    }
    
    #navtop a, #navtop a.sub {
        color: var(--text);
    }
    
    #navtop a:hover, #navtop a.sub:hover {
        background: var(--border);
    }
    
    div.helplink a {
        color: var(--link) !important;
    }
    
    div.helplink:hover a {
        color: var(--hover) !important;
        background: none !important;
    }
    
    #rstar {
        display: none;
    }

    .submenu_ext {
        background: var(--background);
    }
    
    div.main_searchbar {
        background: var(--foreground);
        border-radius: 0;
        border: 1px solid var(--border);
    }
    
    div.main_searchbar input {
        color: var(--text);
    }
    
    div.main_searchbar input::placeholder {
        color: var(--dark-text);
        opacity: 1;
    }
    
    div.search_options_frame {
        color: var(--dark-text);
    }
    
    div.search_options {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    div#mainsearch_submit {
        color: var(--dark-text) !important;
        background: var(--foreground) !important;
    }
    
    div#searchsuggestions {
        background: var(--foreground);
        border: 1px solid var(--border);
    }
    
    div#searchsuggestions > div {
        color: var(--text);
        background: none;
        cursor: pointer;
    }
    
    div#searchsuggestions > div:hover {
        background: var(--border);
    }


    /***********************/
    /*                     */
    /*       Content       */
    /*                     */
    /***********************/
    #content {
        background: var(--background);
    }

    div.bubble_header {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-bottom: none;
    }

    div.bubble_content {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-top: none;
    }

    .mbgen {
        border: none;
    }
    
    .mbgen th {
        background: var(--foreground);
        border-bottom: none;
    }

    .mbgen tr:nth-child(2n) {
        background: var(--foreground);
    }

    .mbgen tr:nth-child(2n+1) {
        background: var(--foreground);
    }

    .mbgen td:last-child {
        border: none;
    }

    .mbgen td {
        border: none;
    }
    
    .mbgen hr, .bubble_content hr {
        border: 1px solid var(--border) !important;
    }

    .smallgray {
        color: var(--dark-text);
    }
    
    h4 {
        color: var(--text);
    }

    /******** Links ********/
    a:link,
    a:visited,
    ul#discussion li a,
    ul.issues li.release_view a,
    .track_credit_show_link,
    .disco_mainline a.album,
    .disco_expand_section_link,
    span.issue_title a {
        color: var(--link);
    }

    a:active,
    a:hover,
    a.album:hover,
    a.artist:hover,
    ul#discussion li a:hover,
    ul.issues li.release_view a:hover,
    .track_credit_show_link:hover,
    .disco_mainline a.album:hover,
    .disco_expand_section_link:hover,
    span.issue_title a:hover {
        color: var(--hover);
    }
    
    .usero {
        color: var(--online) !important;
    }

    .user,
    a.film_genre,
    a.navlinknum,
    a.navlinknext,
    a.list_artist,
    a.list_album,
    a.sametitle,
    a[style="text-align:center;font-size:0.9em;color:#66d;text-decoration:none;"],
    a[style="text-align:left;padding:0.5em;color:#66b;font-weight:bold;margin-top:0.25em;display:block;font-size:0.9em;text-decoration:none;"],
    div.hide-for-small > div:nth-child(2) > a:nth-child(1),
    span.contributors a {
        color: var(--link) !important;
    }

    .user:hover,
    .usero:hover,
    a.film_genre:hover,
    a.navlinknum:hover,
    a.navlinknext:hover,
    a.list_artist:hover,
    a.list_album:hover,
    a.sametitle:hover,
    a[style="text-align:center;font-size:0.9em;color:#66d;text-decoration:none;"]:hover,
    a[style="text-align:left;padding:0.5em;color:#66b;font-weight:bold;margin-top:0.25em;display:block;font-size:0.9em;text-decoration:none;"]:hover,
    div.hide-for-small > div:nth-child(2) > a:nth-child(1):hover,
    span.contributors a:hover {
        color: var(--hover) !important;
    }
    
    a.smallbutton,
    a.tinybutton,
    a.button,
    a.ratingbutton,
    a.toolbutton,
    .comments_load,
    .comment_post_add_btn,
    .catalog_btn,
    .tag_btn,
    .review_btn,
    .track_rating_btn,
    .track_rating_btn.has_ratings,
    a.tag_save,
    .review_save_btn,
    a.contribution_button,
    .buy_button,
    .ui_stream_link_btn,
    #profile_tab a,
    #mediumForm #go,
    a.actionbutton,
    #pminfo a.btn,
    .disco_expand_section_btn,
    .disco_cat_inner_issue,
    tr.release_genres:hover a.genre_vote_btn,
    tr.film_genres:hover a.genre_vote_btn,
    tr.release_descriptors:hover a.descriptor_vote_btn,
    tr.film_descriptors:hover a.descriptor_vote_btn,
    a.genre_vote_btn,
    a.descriptor_vote_btn {
        border: 1px solid var(--border);
        background: var(--button);
        color: var(--button-text);
        cursor: pointer;
        border-radius: 0;
    }
    
    a.smallbutton:hover,
    a.tinybutton:hover,
    a.button:hover,
    a.ratingbutton:hover,
    a.ratingbuttonhc,
    a.toolbutton:hover,
    .comments_load:hover,
    .comment_post_add_btn:hover,
    .catalog_btn:hover,
    .tag_btn:hover,
    .review_btn:hover,
    .track_rating_btn:hover,
    .track_rating_btn.has_ratings:hover,
    a.tag_save:hover,
    .review_save_btn:hover,
    a.contribution_button:hover,
    .buy_button:hover,
    .ui_stream_link_btn:hover,
    #profile_tab a:hover,
    #mediumForm #go:hover,
    a.actionbutton:hover,
    #pminfo a.btn:hover,
    .disco_expand_section_btn:hover,
    .disco_cat_inner_issue:hover,
    tr.release_genres:hover a.genre_vote_btn:hover,
    tr.film_genres:hover a.genre_vote_btn:hover,
    tr.release_descriptors:hover a.descriptor_vote_btn:hover,
    tr.film_descriptors:hover a.descriptor_vote_btn:hover,
    a.genre_vote_btn:hover,
    a.descriptor_vote_btn:hover {
        border: 1px solid var(--border);
        background: var(--button-hover);
        color: var(--button-text);
    }
    
    a[style="color:#800"] {
        color: var(--link) !important;
    }
    
    a[style="color:#800"]:hover {
        color: var(--hover) !important;
    }

    /****** Credited *******/
    .credited_name {
        color: var(--link);
    }

    .credited_list_inner {
        background: var(--foreground);
        border-radius: 0;
        border: 1px solid var(--border);
        box-shadow: none;
    }

    /**** Track Ratings ****/
    .track_rating_header {
        color: var(--dark-text);
        border-bottom: 1px solid var(--border);
    }
    
    .track_rating_header:hover {
        color: var(--dark-text);
        background: var(--border);
    }

    table.trackratings tr {
        color: var(--dark-text);
        border-bottom: 1px solid var(--border);
    }
    
    table.trackratings tr:last-child td {
        color: var(--dark-text) !important;
    }
    
    
    /****** Profile ********/
    #profilename {
        color: var(--text);
    }
    
    div.profilehii {
        color: var(--text);
    }
    
    a.toolbutton[style="color:green;"] {
        color: var(--online) !important;
    }
    
    a.toolbutton#block {
        color: var(--hover) !important;
    }
    
    div.bubble_content:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
        background: none !important;
        border: 1px solid var(--border);
    }
    
    div.bubble_content:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(3) > div:nth-child(1) > div:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
        border: none !important;
    }
    
    #allNotifications {
        border: 1px solid var(--border) !important;
        border-top: none !important;
    }
    
    div.profilesearch {
        background: var(--foreground);
        color: var(--text);
    }
    
    div.profilesearch input#q,
    div.profilesearch input#filmq {
        background: var(--background);
        border: 1px solid var(--border);
        height: 25px;
    }
    
    div.profilesearch select#type {
        background: var(--background);
        border: 1px solid var(--border);
        height: 25px;
    }
    
    div.profilesearch input[type=submit] {
        background: var(--background);
        color: var(--button-text);
        border: 1px solid var(--border);
        height: 25px;
        width: 25px;
        cursor: pointer;
    }
    
    div.profilesearch input[type=submit]:hover {
        background: var(--border);
    }
    
    .musictoolbar {
        border-bottom: none;
    }
    
    .musictoolbar a {
        background: var(--button) !important;
        color: var(--button-text);
        border: 1px solid var(--border);
    }
    
    .musictoolbar a:hover {
        background: var(--button-hover) !important;
    }
    
    #musicrecent tr,
    #filmrecent tr,
    #musicrating tr,
    #filmrating tr,
    div.bubble_content:nth-child(13) > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr,
    div.bubble_content:nth-child(8) > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr,
    #content > form:nth-child(7) > table:nth-child(5) > tbody:nth-child(1) > tr,
    #content > form:nth-child(10) > table:nth-child(5) > tbody:nth-child(1) > tr,
    div.bubble_content:nth-child(10) > div:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr {
        color: var(--dark-text);
        border: 1px solid var(--border);
    }
    
    #musicrecent tr:last-child,
    #filmrecent tr:last-child {
        border: none;
    }
    
    .date_element {
        background: var(--foreground);
    }
    
    .date_element_month,
    .date_element_day,
    .date_element_year {
        color: var(--dark-text);
    }
    
    .or_q_ownership {
        color: var(--dark-text);
    }
    
    .or_q_rating_date_s {
        color: var(--foreground);
    }
    
    .or_q_rating_date_s:hover {
        color: var(--border);
    }
    
    blockquote {
        color: var(--text);
    }
    
    #users td {
        border: 1px solid var(--border);
    }
    
    #users td:hover {
        background: var(--border);
    }
    
    div.comment {
        background: var(--foreground);
        border-bottom: 1px solid var(--border);
        color: var(--text);
    }
    
    div.smallcomment_area {
        border: 1px solid var(--border) !important;
        background: var(--foreground) !important;
    }
    
    .comment_vote_date {
        color: var(--dark-text);
    }
    
    .commentbutton input {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-top: none;
        cursor: pointer;
    }
    
    .commentbutton input:hover {
        background: var(--border);
    }
    
    #shoutbox_commentarea > div:nth-child(2) {
        border: none !important;
    }
    
    #shoutbox_commentform {
        background: var(--foreground);
    }
    
    #shoutbox_commentform table {
        border: 1px solid var(--border);
        border-top: none;
    }
    
    #shoutbox_commentform textarea {
        background: var(--background);
        border: none;
    }
    
    #shoutbox_commentform td:last-child {
        border-left: 1px solid var(--border);
    }
    
    #shoutbox_commentform input {
        background: var(--foreground);
        border: none;
        cursor: pointer;
    }
    
    #shoutbox_commentform input:hover {
        background: var(--border);
    }
    
    .contribution {
        background: var(--button);
        border: 1px solid var(--border);
    }
    
    .contribution a {
        color: var(--button-text);
    }
    
    .contribution:hover {
        background: var(--button-hover);
    }
    
    div.bubble_content:nth-child(8) > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) > table:nth-child(1) tr {
        border: 1px solid var(--border);
    }
    
    #breadcrumb li.currentverylong {
        color: var(--text);
    }
    
    table.mbgen:nth-child(10) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(2) {
        border: none !important;
    }
    
    table.mbgen:nth-child(10) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(6) > div:nth-child(2) {
        color: var(--dark-text) !important;
    }
    
    ul.trackselector {
        background: var(--foreground);
        border: 1px solid var(--border);
        color: var(--text);
    }
    
    ul.trackselector li {
        border-bottom: 1px solid var(--border);
    }
    
    ul.trackselector li:hover {
        background: var(--border);
    }
    
    .tracknum {
        border: none;
    }
    
    .duration {
        color: var(--dark-text);
    }
    
    ul.trackselector li.selected {
        background: var(--border);
        color: var(--text);
    }
    
    table.mbgen:nth-child(10) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > div:nth-child(6) {
        border: none !important;
    }
    
    #genre_voting_comments_commentarea > div:nth-child(2) {
        background: none !important;
        border: none !important;
    }
    
    
    /******** List *********/
    #breadcrumb {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    #breadcrumb li.lnk {
        background: var(--button);
        border: 1px solid var(--border);
        color: var(--button-text);
    }
    
    #breadcrumb li.lnk:hover {
        background: var(--button-hover);
    }
    
    #breadcrumb li.current {
        color: var(--text);
    }
    
    div.row {
        background: var(--background) !important;
        border: none !important;
    }
    
    .controlbar {
        background: var(--background);
        border: none;
    }
    
    #list_comments_commentarea > div:nth-child(2) {
        border: none !important;
    }
    
    .trodd, .treven {
        border: 1px solid var(--border) ;
        background: var(--foreground);
    }
    
    .navpage {
        color: var(--dark-text);
    }
    
    .navlinkcurrent {
        border: none;
        color: var(--text);
    }
    
    .generic_title, .generic_desc {
        color: var(--text);
    }
    
    .rel_date {
        color: var(--dark-text);
    }
    
    #wrapper > div:nth-child(5) {
        background: var(--background) !important;
        border: none !important;
    }
    
    .number, .list_mobile_number {
        color: var(--dark-text);
    }
    
    
    /****** Release ********/
    .release_left_column {
        background: var(--background);
        border-right: none;
    }
    
    .release_right_column {
        background: var(--background);
    }
    
    th.info_hdr,
    .max_rating,
    .num_ratings,
    .release_pri_descriptors {
        color: var(--dark-text);
    }
    
    .album_info > tbody:nth-child(1) > tr:nth-child(9) > td:nth-child(2),
    .album_info > tbody:nth-child(1) > tr:nth-child(10) > td:nth-child(2) {
        color: var(--dark-text) !important;
    }
        
    .large-4 > div:nth-child(1) {
        background: none !important;
    }
    
    .ui_stream_link_btn i {
        color: var(--button-text);
    }
    
    div.section_release_navigation {
        border: none;
    }
    
    div.release_navigation_guidance {
        border: none;
    }
    
    div.release_nav_guidance_left a,
    div.release_nav_guidance_right a {
        color: var(--dark-text);
    }
    
    div.release_navigation_links {
        background: none;
        border-radius: 0;
    }
    
    ul.tracks {
        background: var(--foreground);
        border-radius: 0;
        border: 1px solid var(--border);
    }
    
    ul.tracks li.track {
        background: none;
        color: var(--text);
        border: none;
    }
    
    ul.credits {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    .role_name,
    .role_name.has_tracks {
        color: var(--dark-text);
    }
    
    .role_tracks {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
        color: var(--text);
        box-shadow: none;
    }
    
    .credits_roles {
        color: var(--dark-text);
    }
    
    .tracklist_total {
        color: var(--dark-text) !important;
    }
    
    ul.lists {
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul.lists li {
        background: none;
        color: var(--text);
        border-radius: 0;
    }
    
    ul.lists li:hover {
        background: var(--border);
    }
    
    ul.lists div.list_name a {
        color: var(--link) !important;
    }
    
    .list_add_btn {
        background: var(--button) !important;
        border: 1px solid var(--border);
    }
    
    .list_add_btn:hover {
        background: var(--button-hover) !important;
    }
    
    .list_add_btn a {
        color: var(--button-text);
    }
    
    #add_to_list_btn {
        background: var(--button);
        border: 1px solid var(--border);
        border-radius: 0;
        color: var(--button-text);
        cursor: default;
    }
    
    #add_to_list_btn:hover {
        background: var(--button-hover);
    }
    
    #add_to_list_lists {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    #add_to_list_lists a:hover {
        background: none;
    }
    
    div.comments {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    .comments_post {
        background: none;
    }
    
    .comment_header {
        background: none;
    }
    
    .comment_body {
        color: var(--text);
    }
    
    .release_page_header, .release_page_header h2 {
        color: var(--text);
    }
    
    ul#discussion {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    ul#discussion li {
        background: none;
    }
    
    ul#discussion li:hover a {
        color: var(--hover);
    }
    
    ul.suggestions {
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul.suggestions li {
        color: var(--text);
        background: none;
    }
    
    div.release_artist .subtext {
        color: var(--dark-text);
    }
    
    .release_right_column .section_my_catalog.section_outer {
        background: none;
        border: none;
    }
    
    .release_my_catalog {
        background: var(--foreground);
        border: 1px solid var(--border);
        padding: 5px;
    }
    
    .release_my_catalog .my_catalog_rating {
        position: relative;
        top: 2px;
    }
    
    .my_catalog_rating {
        background: none;
        border: none;
        border-radius: 0;
        opacity: 1;
    }
        
    div.rating_num {
        color: var(--button-text);
    }
    
    .catalog_btn {
        cursor: default;
    }
    
    .catalog_btn_options {
        background: var(--foreground);
        border: 1px solid var(--border);
    }
    
    .catalog_btn_option {
        color: var(--text);
    }
    
    .catalog_btn_option:hover {
        background: var(--border);
    }
    
    .tag_btn {
        padding-left: 7px;
    }
    
    .my_catalog_tags .tag_dlg {
        background: var(--foreground);
        border: 1px solid var(--border);
        color: var(--text);
    }
    
    input.tag_tags {
        background: var(--background);
        border: 1px solid var(--border);
        border-radius: 0;
        color: var(--text);
    }
    
    .review_save_btn:disabled {
        background: var(--foreground);
        cursor: default;
        color: var(--dark-text);
    }
    
    .section_my_catalog div#release_touch_catalog_guidance {
        color: var(--dark-text);
    }
    
    ul.issues {
        border: 1px solid var(--border);
        border-radius: 0;
        background: var(--foreground);
    }
    
    ul.issues li,
    ul.issues li.release_view {
        background: none;
        color: var(--dark-text);
        border-radius: 0;
    }
    
    ul.issues li:hover,
    ul.issues li.release_view:hover {
        background: var(--border);
    }
    
    span.issue_year.ymd,
    span.issue_year.y {
        color: var(--dark-text);
    }
    
    .release_right_column .section_reviews.section_outer {
        border: none;
    }
    
    .mobile_expandable_full_header {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-left: none;
        border-right: none;
        border-radius: 0;
        color: var(--text);
    }
    
    .mobile_expandable_full_icons {
        color: var(--dark-text);
    }
    
    .no_content_message {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
        color: var(--dark-text);
    }
    
    .review_list {
        background: none;
    }
    
    .review_sort,
    .sort_choices {
        color: var(--dark-text);
    }
    
    .sort_choice {
        color: var(--dark-text);
        border: none;
    }
    
    .sort_choice.selected {
        color: var(--border);
    }
    
    .sort_choice:hover {
        color: var(--text);
    }
    
    .review_list span.navlinkcurrent {
        color: var(--text);
    }
    
    .review {
        border: 1px solid var(--border);
        background: var(--foreground);
    }
    
    .review_header {
        background: none;
        border-radius: 0;
    }
    
    .review_header.friend {
        background: var(--border);
    }
    
    .review_header_img {
        border-radius: 0;
    }
    
    .review_vote_down, .review_vote_bookmark, .review_vote_up {
        color: var(--dark-text);
        border-radius: 0;
    }
    
    .review_vote_down:hover {
        background: var(--border);
    }
    
    .voting_tip {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
        color: var(--text);
    }
    
    .review_help {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
        color: var(--text);
    }
    
    .review_date,
    .review_vote_count {
        color: var(--dark-text);
    }
    
    .review_title {
        color: var(--text);
    }
    
    .review_body {
        background: none;
    }
    
    .review_body span {
        color: var(--text) !important;
    }
    
    span .spoiler {
        border: none;
        background: var(--hover);
        color: var(--white) !important;
        padding: 2px;
        cursor: pointer;
    }
    
    .review_publish_status, .album_shortcut {
        color: var(--dark-text);
    }
    
    .rating_info_table {
        border-radius: 0;
    }
    
    .rating_info_tab {
        border-radius: 0;
        border: 1px solid var(--border);
        box-sizing: border-box;
    }
    
    .rating_info_table div {
        background: var(--foreground);
    }
    
    .rating_info_table div.active {
        background: var(--border);
    }
    
    #rating_info_catalog,
    #rating_info_track_ratings,
    .rating_info_track_ratings {
        border-left: none;
    }
    
    .catalog_list span.navspan {
        background: none;
    }
    
    .catalog_list span.navlinkcurrent {
        color: var(--text);
    }
    
    .catalog_header {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    .catalog_header.friend {
        background: var(--border);
    }
    
    .catalog_line.my_rating .catalog_date_inner {
        background: none;
        border: none;
        color: var(--dark-text);
    }
    
    .catalog_line.my_rating:hover .catalog_bump {
        background: var(--button);
        border: 1px solid var(--border);
        border-radius: 0;
        color: var(--button-text);
    }
    
    .catalog_line.my_rating:hover .catalog_bump:hover {
        background: var(--button-hover) !important;
    }
    
    .catalog_date {
        background: none;
        color: var(--dark-text);
    }
    
    .catalog_rating_system_comment {
        color: var(--dark-text);
    }
    
    .catalog_stats div.header {
        background: var(--foreground);
        color: var(--title);
        border: 1px solid var(--border);
        border-radius: 0;
        border-bottom: none;
    }
    
    div.bubble_content:nth-child(6) > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1),
    div.bubble_content:nth-child(6) > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
        border: 1px solid var(--border);
    }
    
    #chart_div, #chart_div2 {
        background: var(--foreground) !important;
        border: 1px solid var(--border);
        border-top: none;
    }
    
    #chart_div {
        border-bottom: none;
    }
    
    #chart_div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(2) > g:nth-child(1) > rect,
    #chart_div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(2) > g:nth-child(3) > rect:nth-child(1),
    #chart_div2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(2) > g:nth-child(1) > rect {
        fill: var(--border);
    }
    
    #chart_div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(4) > g > text:nth-child(1),
    #chart_div2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(4) > g > text:nth-child(1) {
        fill: var(--dark-text);
    }
    
    .contributor_header {
        color: var(--dark-text);
    }
    
    .release_page > div:nth-child(5) {
        border: none !important;
    }
    
    /******* Artist ********/
    .artist_page {
        background: none;
    }
    
    .artist_name {
        background: none;
    }
    
    .section_artist_info {
        border: none;
    }
    
    .section_artist_image {
        background: none;
    }
    
    .artist_page .section_lists {
        background: none;
        border: none;
    }
    
    .artist_page ul.lists {
        background: var(--foreground);
        border: 1px solid var(--border);
    }
    
    .artist_page .section_discussion {
        background: none;
        border: none;
    }
    
    .artist_right_col {
        border: none;
    }
    
    div[class^=coverart] {
        background-color: var(--background);
    }
    
    .large-4 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > a:nth-child(1) {
        color: var(--button-text) !important;
    }
    
    .ui_stream_link_btn i {
        text-shadow: none !important;
    }
    
    .artist_left_col {
        background: none;
    }
    
    h1.artist_name_hdr {
        color: var(--text);
    }
    
    .artist_info .info_hdr {
        color: var(--dark-text);
    }
    
    .section_artist_info {
        color: var(--dark-text)
    }
    
    .artist_page_section_active_music span.subtext,
    .artist_page_section_button_music span.subtext {
        color: var(--dark-text);
    }
    
    .artist_page_section_left {
        border: none;
    }
    
    .artist_page_section_active_music,
    .artist_page_section_active_film,
    .artist_page_section_button_music,
    .artist_page_section_button_film {
        color: var(--link) !important;
        border: none;
    }
    
    .artist_page_section_button_music:hover {
        color: var(--hover) !important;
        background: none;
        border: none;
    }
    
    .disco_search {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
    
    .disco_search input {
        background: none;
        color: var(--text);
    }
    
    .disco_search input::placeholder {
        color: var(--dark-text);
        opacity: 1;
    }
    
    .disco_search i {
        color: var(--dark-text);
    }
    
    h3 {
        color: var(--text);
    }
    
    .disco_header_section {
        border-bottom: 1px solid var(--border);
    }
    
    .disco_showing,
    .disco_header {
        color: var(--dark-text);
    }
    
    .disco_year_ym,
    .disco_year_ymd {
        color: var(--dark-text);
    }
    
    .disco_avg_rating {
        color: var(--dark-text);
    }
    
    .disco_release {
        border-radius: 0;
    }
    
    .disco_release:hover {
        background: none;
    }
    
    .disco_cat_inner {
        background: none;
        color: var(--text);
    }
    
    .disco_subline .credited_name {
        color: var(--dark-text) !important;
    }
    
    .disco_cat {
        background: none;
        color: var(--dark-text);
        border-radius: 0;
    }
    
    .disco_cat_catalog_msg {
        color: var(--dark-text) !important;
    }
    
    .disco_expandissues {
        background: none;
        color: var(--dark-text);
        border-radius: 0;
    }
    
    .disco_expandissues.has_cat {
        border-left: 1px solid var(--border);
    }
    
    .expand_num {
        border-right: 1px solid var(--border);
    }
    
    .disco_expandcat:hover .disco_cat,
    .disco_expandcat:hover .disco_expandissues {
        background: var(--foreground);
    }
    
    span.issue_attributes {
        color: var(--dark-text);
    }
    
    .disco_cat_catalog_msg i {
        color: var(--button-text);
    }
    
    .film_cataloger,
    .issue_cataloger {
        background: var(--foreground);
        border: 1px solid var(--border);
        border-radius: 0;
    }
        
    .large-12 > div:nth-child(1) {
        border: none !important;
    }
    
    
    /****** Settings *******/
    .steps {
        border: none;
    }
    
    #profile_tab li#currentp {
        border: 1px solid var(--border);
        background: var(--button);
        color: var(--button-text);
    }
    
    #profile_tab li {
        border: none;
        margin-right: 3px;
    }
    
    #mediumForm fieldset {
        background: var(--foreground);
        border: 1px solid var(--border);
    }
    
    .tblstandard,
    .tblstandard > tbody:nth-child(1) > tr:nth-child(1) {
        border: none;
        background: none !important;
    }
    
    .mbgen > tbody:nth-child(1) > tr[style="background:#bbc;"] {
        background: none !important;
        border-bottom: 1px solid var(--border);
    }
    
    .or_q_review {
        color: var(--text) !important;
        border: none;
        margin-left: 30px;
    }
    
    #tempform fieldset {
        background: var(--foreground);
        border: 1px solid var(--border);
    }
    
    .cellheader {
        background: none;
    }
    
    #pminfo, #pmbody {
        background: none;
    }
    
    #pminfo .rtop, #pminfo .rtop *,
    #pminfo .rbottom, #pminfo .rbottom *,
    #pmbody .rtop, #pmbody .rtop *,
    #pmbody .rbottom, #pmbody .rbottom *,
    #pmsubject .rtop1, #pmsubject .rtop1 *,
    #pmsubject .rbottom1, #pmsubject .rbottom1 * {
        background: none;
    }
    
    #pmsubject {
        background: var(--border);
    }
    
    .pmwarning {
        background: none;
        color: var(--dark-text);
        border: none;
    }
    
    #pmcontainer {
        background: var(--foreground);
        border: 1px solid var(--border);
    }
    
    #conversation_history, #conversation_history tr {
        background: var(--foreground);
        border: 1px solid var(--border);
    }
    
    #conversation_history > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
        background: none !important;
    }
    
    .ch_selected {
        background: var(--border);
    }
    
    .ch_body, .ch_date {
        color: var(--text);
    }
    
    /******* Search ********/
    .infobox,
    .infobox:hover {
        background: var(--foreground);
        border: 1px solid var(--border);
    }


    /***********************/
    /*                     */
    /*        Footer       */
    /*                     */
    /***********************/
    #navbottom {
        background: var(--background);
        border: none;
    }

    #navbottom li a {
        color: var(--dark-text);
    }

    #navbottom li a:hover {
        color: var(--hover);
    }

    #navbottom li a[title ~= Glitchwave] {
        color: var(--dark-text) !important;
    }

    #navbottom li a[title ~= Glitchwave]:hover {
        color: var(--hover) !important;
    }

    address {
        color: var(--border);
    }


    /***********************/
    /*                     */
    /*         Misc        */
    /*                     */
    /***********************/
    i.fa-facebook-square,
    i.fa-twitter,
    i.fa-spotify {
        text-shadow: 1px 1px var(--border);
    }

    .page_home_follow {
        color: var(--dark-text);
    }
    
    .page_home_feature_header h2 {
        border-bottom: 1px solid var(--border);
    }

    #latest_rating,
    #latest_rating2,
    #latest_rating3 {
        color: var(--border);
    }

    /******** Card *********/
    .card_small {
        color: var(--dark-text);
    }

    div.or_card_frame {
        background: var(--background);
    }

    div.or_card_frame .rtop {
        background: var(--background);
    }

    div.or_card_frame .rbottom {
        background: var(--background);
    }

    .card_link {
        color: var(--text);
    }

    a.card_link_bg {
        color: var(--link) !important;
    }

    a.card_link_bg:hover {
        color: var(--hover) !important;
    }
}